# Server Configuration
PORT=3000
NODE_ENV=production
SETUP_MODE=true

# MySQL Database Configuration
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=alaba_db

# Security
JWT_SECRET=your_secret_key_here

# SMTP Configuration
SMTP_HOST=smtp.alaba.cloud
SMTP_PORT=587
SMTP_USER=no-reply@alaba.cloud
SMTP_PASS=
SMTP_FROM_NAME="Alaba Cluster Notifications"

# Namecheap API Configuration
NAMECHEAP_API_KEY=
NAMECHEAP_USER=
NAMECHEAP_IP=
